<!DOCTYPE html>
<html>
<head>
    <title>Restaurar Contraseña | NEXUS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo-sena.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div class="auth-sidebar">
        <h1 class="nexus-title">NEXUS</h1>
        <h1>Seguridad</h1>
        <p>Crea una contraseña segura.</p>
    </div>

    <div class="auth-content">
        <div class="form-wrapper">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='img/logo-sena.png') }}" alt="Logo SENA" class="logo-img">
            </div>

            <h2 class="form-title">Nueva Contraseña</h2>
            <p class="form-subtitle">Ingresa tu nueva clave de acceso.</p>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert-error"><span>{{ message }}</span></div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('auth.restaurar_password', token=token) }}" novalidate>
                <input type="hidden" name="token" value="{{ token }}">

                <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Mín. 8 caracteres, Mayúscula, Símbolo" required>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>

                <button type="submit" class="btn-auth">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</body>
</html>